/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Abril Fatface', serif; */
/* font-family: 'Raleway', sans-serif; */


/* COLOR VARIABLES */
:root {
    --white: hsl(0, 22%, 95%);
    --blue: #53b3f3;
    --f-blue: hsl(205, 65%, 87%);
    --black: #383838;
    --grey: hsl(0, 0%, 39%);
    --serif: 'Abril Fatface', serif;
    --sans: 'Raleway', 'Roboto', Arial, sans-serif;
    font-size: 20px;
}

* {
    font-family: var(--sans);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: var(--black);

}

a {
    color: var(--black);
}

body {
    background-color: var(--white);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 8%;
    background-color: var(--white);
    color: var(--black);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: var(--white);
    border-bottom: 1px solid var(--black);

}

#menu-bar {
    display: none;
    padding: .75rem 10px;
    transition: all .1s;
}



.active,
.navbar nav ul li:hover .nav-link {
    color: var(--blue);
}

.nav-logo {
    font-weight: 900;
    display: inline;
    font-size: 1.2rem;
    font-family: var(--serif);
}

.nav-links {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.9rem;
    width: auto;
}

.nav-links li {
    display: block;
    padding: .75rem 10px;
    transition: all .1s;
}

header .navbar nav ul li ul.dropdown {
    width: auto;
    background-color: var(--f-blue);
    position: absolute;
    z-index: 999;
    display: none;
    margin-top: .6rem;
    transform: translateX(-8px);
    transform: translateY(3px);

}

header .navbar nav ul li ul.dropdown li {
    display: block;
    background-color: var(--f-blue);
    width: auto;
    border-bottom: 1px solid var(--black);
}

header .navbar nav ul li:hover ul.dropdown {
    display: block;
}

/* .log-in {
    background-color: none;

} */

section {
    padding: 3rem 4rem;
    text-align: center;
    width: 100%;
}

section.class-page-sec {
    margin-top: 10px;
    padding-top: 0;
}

section.grid.class-page {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(6, auto);
    grid-auto-rows: auto;
    grid-auto-flow: column;
}

.acs {
    font-size: 3rem;
}

.free {
    font-size: 4rem;
    margin-left: 1rem;
}

.footer {
    text-align: center;
    padding: 2rem 8%;
    background-color: var(--f-blue);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 3rem;
    margin-top: 1.5rem;
    background-color: var(--f-blue);
    font-weight: 700;
    font-size: 1.1rem;
    border: 1px solid var(--black);
    transition: all .2s;
}

.card:hover {
    background-color: var(--black);
    color: var(--white);
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: crosshair;
}


#ad-top-banner {
    display: block;
}


/* Subjects */

.ga {
    padding-bottom: 2rem;
}

/*hide the inputs/checkmarks and submenu*/
input,
div.chapters {
    display: none;
}

/*position the label*/
label {
    position: relative;
    display: block;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: var(--f-blue);
    font-weight: 700;
    font-size: 1.1rem;
    border: 1px solid var(--black);
    transition: all .2s;
}

/*show the submenu when input is checked*/
input:checked~div.chapters {
    display: block;
}

#chapnum {
    font-weight: 400;
}

#chapname {
    font-weight: 900;
}

.chapters button:hover #chapnum,
.chapters button:hover #chapname {
    color: var(--white);
}

.chapters {
    display: grid;
    grid-template-rows: repeat(7, auto);
    grid-template-columns: repeat(auto-fit, minmax(auto, 100%));
    grid-auto-rows: auto;
}

.chapters div {
    display: inline-block;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 3rem;
    margin-top: 5px;
    /* margin-bottom: 2rem; */
    background-color: var(--f-blue);
    font-weight: 700;
    border: 1px solid var(--black);
    transition: all .2s;
}

/* ---------- */


/* Chapter Contents */

.chapter-flex {
    display: flex;
    padding: 2rem 4rem;
    justify-content: space-around;
    flex-wrap: wrap;

}

.class-card {
    display: inline-block;
    width: 300px;
    height: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0;
    margin-top: 1.2rem;
    background-color: var(--f-blue);
    font-weight: 700;
    font-size: 1.1rem;
    border: 1px solid var(--black);
    transition: all .2s;
}

.class-card:hover {
    background-color: var(--black);
    color: var(--white);
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.class-card img {
    width: 100%;
}

.class-card p {
    padding: .5rem;
}

.class-card:hover p {
    color: var(--white);
}

img {
    vertical-align: middle;
    border-style: none;
}

h3 {
    font-size: 2rem;
    margin-top: 3rem;
}

/* ------- */

/* Class Page */
.class-grid {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}

.player {
    grid-row: 1 / 3;
    grid-column: 1 / 6;
    width: clamp(200px, 100%, 670px);
}

#Video_Description {
    grid-row: 3 / 4;
    grid-column: 1 / 5;
    text-align: left;
}

#instructor {
    grid-column: 6 / 8;
    text-align: left;
    padding: 0;
}

#instructor img {
    width: 80px;
    float: left;
    margin-right: 10px;
}

#instructor h4 {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 800;
}

#instructor #name {
    margin-bottom: 5px;
    font-size: 0.8rem;
    font-weight: 700;
    display: block;
}

#instructor #qua {
    font-size: 0.8rem;
    font-weight: 400;
    display: inline-block;
}

#hw {
    margin-top: 50px;

}



/* --------------- */

/* Media Queries */

/* ##########AD-STARTS-HERE########## */

@media (min-width: 768px) {
    #ad-top-pc {
        display: block;
        padding: 0;
        margin-right: calc((100% - 768px) / 2);
        margin-left: calc((100% - 768px) / 2);
        margin-top: 10px;
    }

    #ad-top-tab {
        display: none;
        padding: 0;
    }

    #ad-top-mbl {
        display: none;
        padding: 0;
    }

}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .nav-logo {
        margin-right: calc((100% - 204.383px) / 2);
        margin-left: calc((100% - 204.383px) / 2);
    }

}

@media (max-width: 768px) and (min-width: 468px) {
    #ad-top-pc {
        display: none;
        padding: 0;
    }

    #ad-top-tab {
        display: block;
        padding: 0;
        margin-right: calc((100% - 468px) / 2);
        margin-left: calc((100% - 468px) / 2);
        margin-top: 8px;
    }

    #ad-top-mbl {
        display: none;
        padding: 0;
    }

    .two {
        font-size: 1rem;
    }

    .acs {
        font-size: 2rem;
    }

    .free {
        font-size: 2rem;
        margin-left: 0;
    }

    section {
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media (max-width: 468px) {
    #ad-top-pc {
        display: none;
        padding: 0;
    }

    #ad-top-tab {
        display: none;
        padding: 0;
    }

    #ad-top-mbl {
        display: block;
        padding: 0;
        margin-right: calc((100% - 320px) / 2);
        margin-left: calc((100% - 320px) / 2);
        margin-top: 5px;
    }

    .two {
        font-size: 0.8rem;
    }

    .acs {
        font-size: 1.6rem;
    }

    .free {
        font-size: 1.6rem;
        margin-left: 0;
    }

    section {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* ##########AD-ENDS-HERE########## */

@media (max-width: 768px) {
    .class-grid {
        display: flex;
        flex-direction: column;
    }

}

@media (min-width: 768px) and (max-width: 1180px) {
    #hw {
        grid-row: 4 / 5;
    }

    #name,
    #qua {
        font-size: 0.5rem;
    }
}

@media (max-width: 450px) {
    section.class-page-sec {
        padding: 0;
        margin: 0;
    }

    .player {
        width: 100%;
        padding: 2%;
    }

    #Video_Description {
        text-align: center;
    }

    #instructor {
        display: flex;
        flex-direction: column;
        padding: 2%;
        align-self: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #instructor h4 {
        text-align: center;
    }

    #instructor img {
        float: none;
        margin: 0 auto 10px auto;
        padding: 0;

    }

    #instructor #name,
    #instructor #qua {
        display: block;
        text-align: center;
    }

    #hw {
        margin-top: 0;
        margin-bottom: 50px;
        padding: 0;
        align-self: center;
    }

    #sub-page-head {
        font-size: 1.4rem;
    }
}

/* UTILITIES */
.blue-text {
    color: var(--blue);
}

.white-text {
    color: var(--white);
}

.two-rem {
    font-size: 2rem;
}

.three-rem {
    font-size: 3rem;
}

.four-rem {
    font-size: 4rem;
}

.display-block {
    display: block;
}

.bb {
    border-bottom: 1px solid var(--black);
}